html {
    height: 100%;
}

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Courier New', monospace;
    background: linear-gradient(to bottom, #99b898 15%, #fecea8 30%, #ff847c 50%, #e84a5f 70%, #2a363b 100%);
    background-repeat:round;
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 10vh;
}

@keyframes efectoCrear {
    from {
        color: #fecea8;     
    } to {
        color: red;
    }
}

main button {
    transition: background-color 3s;
    background-color: #2a363b;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    color: #fecea8;
}

main button:hover {
    background-color: #2a363b;
    animation-name: efectoCrear;
    animation-duration: 4s;

}

main button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.detallesCard {
    width: 18rem;
    margin: 15px;
    border: 0px;
    background: linear-gradient(to right, hsl(203, 56%, 50%) 10%, #A288A6 40%, #BB9BB0 60%, #CCBCBC 100%);
    border-style: groove;
    border-radius: 25px;
}

.textCard {
    font-size: 9rem;
    text-align: center;
}

.cardContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.footer {
    position: fixed;
    bottom: 0;
    right: 50px;
    margin-right: 20px;
    color: #e84a5f;
}

.ocultar {
    display: none;
}

.divBomba {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 80vh;
}

.divBomba img{
    border-radius: 15px;
}


